[Desktop Entry]
Type=Application
Name=mdoc
GenericName=Markdown Editor
Comment=Markdown WYSIWYG editor with PDF and DOCX preview
Exec=mdoc %f
Icon=mdoc
Terminal=false
StartupWMClass=mdoc
Categories=Office;Utility;TextEditor;
Keywords=editor;markdown;pdf;docx;
MimeType=text/markdown;text/plain;application/pdf;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
